<!DOCTYPE html>
<html>
<head>
  <title>mumuni work</title>
  <meta charset="utf-8"/>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="test.css">

</head>
<body>
<header class="container">
  <div class="row">
    <h1 class="col-sm-4">SPECTRANET</h1>
    <nav class="col-sm-8 text-right">

      <%= link_to 'Home', root_path %>
      <p>Contact</p>
      <p>About</p>

    </nav>
  </div>
</header>
<section class="container">
  <div class="row">
    <figure class="col-sm-6">
      <img style="height:350px" src="http://d.ibtimes.co.uk/en/full/1396989/coding-national-curriculum-computing.jpg"/>
      <p> i am slowly starting to get the hang of this. i only just picked up interest in coding about a week ago and i hope i can stay focused and finish this course on time</p>
    </figure>
    <figure class="col-sm-6">
      <img style="height:350px" src="http://cdn2.hubspot.net/hubfs/883/Coding.jpg"/>
      <p> look at the cool things i have learnt in such a short time. lol... don't worry i know it is only just beginning but still... it is pretty awesome though.</p>
    </figure>
  </div>
</section>
<footer class="container">
  <div class="row">
    <p class="col-sm-4">jay and mumuni&copy; 2016 spectranet</p>
    <ul class="col-sm-8">
      <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg">
      </li>
      <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg"></li>
      <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg"></li>
      <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg"></li>
    </ul>
  </div>
</footer>
</body>
</html>
