<!DOCTYPE html>
<html>
<head>
  <title>mumuni work</title>
  <meta charset="utf-8"/>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="test.css">

</head>
<body>
<header class="container">
  <div class="row">
    <h1 class="col-sm-4">SPECTRANET</h1>
    <nav class="col-sm-8 text-right">

      <p>Home</p>
      <p>Contact</p>
      <%= link_to 'About', about_path %>

    </nav>
  </div>
</header>
<section class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h2>Locker zer0</h2>
      <h3>This will change everything</h3>
      <a class="btn btn-primary" href="#" role="button">Experience</a>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <figure class="col-sm-6">
      <p>Gaming</p>
      <img src="https://lh3.googleusercontent.com/PU7u9RWKzX_kX5Z3U_8Sh3mFc86MZcTBDyFNIeho_N_kwWDk1H3Gr_-9JQaQWFpG8tM=h900"/>
    </figure>
    <figure class="col-sm-6">
      <p>Coding</p>
      <img src="https://tctechcrunch2011.files.wordpress.com/2015/04/codecode.jpg"/>
    </figure>
  </div>
</section>
<footer class="container">
  <div class="row">
    <p class="col-sm-4">jay and mumuni&copy; 2016 spectranet</p>
    <ul class="col-sm-8">
      <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg">
      </li>
      <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg"></li>
      <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg"></li>
      <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg"></li>
    </ul>
  </div>
</footer>
</body>
</html>
